@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');


:root{

    --fonte-padrao: 'Jost', Arial, Helvetica, sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #000000;
}

header h1{
    font-family: var(--fonte-padrao);
    font-size: 3.8em;
    font-weight: bold;
    margin: 30px 40px 10px 15px;
    color: white;
}

header p{
    font-family: var(--fonte-padrao);
    margin: 10px 0 20px 15px;
    font-size: 1.3em;
    color: white;
    
}

div.filmes{
    display: grid;
    grid-template-columns: repeat(6, 160px);
    gap: 40px;
    justify-content: center;
    margin-top: 50px;
}

@media (max-width: 900px) { 
    div.filmes {
        grid-template-columns: repeat(3, 160px);
    }
}

/*O @media e usado para dizer ao CSS: "Quando a tela tiver determinado tamanho, mude estas regras."*/

@media (max-width: 600px) {
    div.filmes {
        grid-template-columns: repeat(2, 160px);
    }
}

.filme{
    width: 160px;
    text-align: center;
}

.filme img{
    width: 160px;
    height: 240;
    object-fit: cover;
    border-radius: 10px;
}

.filme figcaption{
    margin-top: 10px;
    font-family: var(--fonte-padrao);
    font-weight: bold;
    font-size: 1em;
}

.filme figcaption > a{
    color: white;
    text-decoration: none;
}

.filme figcaption > a:hover{
    color: #fa2500;
}

footer{
    background-color: #595859;
    color: #F0F0F2;
    text-align: center;
    font-family: var(--fonte-padrao);
    font-size: 0.8em;
    padding: 1.5px;
    margin-top: 50px;
}

footer p{
    margin: 0;
}


